@import 'config';
@import 'menu';

*{
	box-sizing: border-box;
}

body{
	@include background;
	background: $primary-color;
	color: set-text-color($primary-test);
	height:100%;
	width: 95%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

//headings
h1, 
h2, 
h3{
	margin:0;
	font-weight:400;

	&.lg-heading{
		font-size: 6rem;
	}
	&.md-heading{
		font-size: 3rem;
		border-top:3px $secondary-color solid ;	
				
	}
	&.md-heading-projects{	
		@extend .md-heading;
        border-right:3px $secondary-color solid ;
		border-left:3px $secondary-color solid ;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius:  0px;
	}

	&.sm-heading{
		margin-bottom: 2rem;
		padding: 0.5rem 4rem;
		background: rgba(lighten($primary-test,2),0.9);
		border-bottom-right-radius: 15px;
		border-bottom-left-radius:  15px;
		text-align:center;

	}

	&.sm-heading-about{
		margin-bottom: 2rem;
		padding: 0.5rem 4rem;
		background: rgba(lighten($primary-test,2),0.7);
		border-bottom-right-radius: 15px;
		border-bottom-left-radius:  15px;
	}


	&.sm-heading-projects{	
		@extend .sm-heading-about;
        border-right:3px $secondary-color solid ;
		border-left:3px $secondary-color solid ;
		border-bottom:3px $secondary-color solid ;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius:  0px;
	}

}

#lg-heading-back{
	background: rgba(lighten($primary-test,2),0.7);
	padding:0.5rem 2rem;
	border-top-right-radius: 15px;
	border-top-left-radius:  15px;
	padding-bottom: 40px;
	text-align:center;
}

a{
	color:#fff;	
	text-decoration:none;
}

header{
	position: fixed;
	z-index:2;
	width: 100%;
}

.text-secondary{
	color: $secondary-color;
}

main{
	padding: 4rem;
	//height:100%;
	//sticky footer
	min-height: calc(100vh-60px);

	.icons{
		margin-top: 3px;
		text-align: center;
	}

	.fab{
		//social media link background
		padding: 20px;
		text-align: center;
		border-radius:15px;
			
		&:hover{	
			color: $secondary-color;
			@include easeOut();
			background: rgba(lighten($primary-test,2),0.8);
		}
	}

	&#home{
		text-align: center;
		//no scroll bars
		overflow: hidden;
		h1{
			//view port height by %
			margin-top: 20vh;
		}
	}
}

.space{
	margin:30px;
}

.about-info{
	display: grid;
	//adds spacing 
	grid-gap: 30px;
	grid-template-areas: 
	'bio bio bio'
	'hobbies volunteering activities';
	grid-template-columns: repeat(3, 1fr);
		/*.bio-image{
			grid-area: bioimage;
			marigin: auto;
			border-radius: 50%;
			border: $secondary-color 3px solid;
		}*/
	a {
		text-align: center;
		border-radius:15px;		
		padding: 4px;
		&:hover{

			color: $secondary-color;
			@include easeOut();
			background: rgba(lighten($primary-test,2),0.8);
		}
	}
	
	.career{
		grid-area: bio;
		font-size: 1.325rem;
	}

	.hobbies{
		grid-area: hobbies;
	}

	.activities{
		grid-area: activities;
	}

	.volunteering{
		grid-area: volunteering;
	}

	.info {
		background: rgba(lighten($primary-test,2),0.85);
		padding: 0.5rem;
		border-bottom: $secondary-color 5px solid;
		border-radius:15px;
	}
}

// Projects
.projects{
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: repeat(3,1fr);
	
	img{
		width: 100%;
		//padding: 10px;
        //border-radius:15px;
        border:3px $secondary-color solid ;

        &:hover{
        	opacity: 0.7;
        	border-color: #fff;
        	@include easeOut;
        }
	}
}

//button styles 12:50
.btn{
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	//border-radius:15px;
	margin-bottom: 0.3rem; 
	
	&.hover{
		background: $secondary-color;
		color: set-text-color($secondary-color);
	}
}

.btn-dark{
	@extend .btn;
	background: darken($primary-color, 50);
	color: #fff;
	text-align: right;

	border:3px $secondary-color solid ;

        &:hover{
        	opacity: 0.7;
        	border-color: #fff;
        	@include easeOut;
        }
}

.btn-light{
	@extend .btn;
	background: lighten($primary-color, 50);
	color: #333;

	border:3px $secondary-color solid ;

        &:hover{
        	opacity: 0.7;
        	border-color: #fff;
        	@include easeOut;
        }

}

#main-footer{
	text-align: center;
	padding: 1rem;
	background: rgba(lighten($primary-test,2),0.85);
	color: set-text-color($primary-test);
	height: 60px;
	border-radius:15px;
}

#main-footer-projects{

}


.container{
	text-align: center;
	margin-right: 1rem;
	margin-left: 1rem;
}

.links{
	&.hover{

		color: secondary-color;
		@include easeOut();
		background: rgba(lighten($primary-test,2),0.8);

	}
}
.about-img{

	width: 100%;
	height: auto;
	//min-height: 50px;
	border-radius: 15px;
	border: solid 3px $secondary-color;

}



@import 'mobile';